In [2]:
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi

uri = "mongodb+srv://Marii:1234@cluster0.okcsmig.mongodb.net/?retryWrites=true&w=majority"
client = MongoClient(uri, server_api=ServerApi('1'))
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [4]:
import pymongo
client = MongoClient("mongodb+srv://Marii:1234@cluster0.okcsmig.mongodb.net/?retryWrites=true&w=majority")
db = client.e18m10
records = db.jailer

In [5]:
x = records.find({"address":"mumbai"})
print(x)
for i in x :
    print(i)

<pymongo.cursor.Cursor object at 0x000001D5715E26A0>
{'_id': ObjectId('64d788d64c1537c78f3bf82f'), 'name': 'g3', 'address': 'mumbai'}
{'_id': ObjectId('64d788d64c1537c78f3bf831'), 'name': 'g3', 'address': 'mumbai'}

In [7]:
b={"name":"Mariot",
  "age":22}
records.insert_one(b)

In [4]:
x = records.find({"address":"mumbai"},{"_id":False})
for i in x :
    print(i)

{'name': 'g3', 'address': 'mumbai'}
{'name': 'g3', 'address': 'mumbai'}

In [5]:
x = records.find({"$or":[{"address":"chennai"},{"address":"Mumbai"}]},{"_id":False})
for i in x :
    print(i)

{'name': 'guvi1', 'address': 'chennai'}
{'name': 'John', 'address': 'chennai'}

In [17]:
x = records.find({"$or":[{"address":"chennai"},{"address":"Mumbai"}]},{"_id":False})
li=[]
for i in x :
    li.append(i)
import pandas as pd
df = pd.DataFrame(li)
df

    name  address
0  guvi1  chennai
1   John  chennai

In [16]:
li

[{'name': 'guvi1', 'address': 'chennai'},
 {'name': 'John', 'address': 'chennai'}]

In [8]:
b=records.find({"address":{"$regex":"i$"}})
for i in b:
    print(i)

{'_id': ObjectId('64d788d64c1537c78f3bf82d'), 'name': 'guvi1', 'address': 'chennai'}
{'_id': ObjectId('64d788d64c1537c78f3bf82f'), 'name': 'g3', 'address': 'mumbai'}
{'_id': ObjectId('64d788d64c1537c78f3bf830'), 'name': 'g4', 'address': 'delhi'}
{'_id': 1, 'name': 'John', 'address': 'chennai'}
{'_id': ObjectId('64d788d64c1537c78f3bf831'), 'name': 'g3', 'address': 'mumbai'}
{'_id': ObjectId('64d788d64c1537c78f3bf832'), 'name': 'g4', 'address': 'delhi'}

In [6]:
d1={"age":25,"name":"marioo","weight":[10,20,30],"height":{"10":80,"15":120,"20":180}}
records.insert_one(d1)

In [66]:
a=records.find( {"age": { "$gt": 10 } } )
#print(a)
for x in a:
    print(x)

{'_id': ObjectId('64d788cc4c1537c78f3bf82a'), 'name': 'Marii', 'age': 29}
{'_id': ObjectId('64d859241e23a3cb3ac1bf76'), 'age': 25, 'name': 'guvi', 'weight': [10, 20, 30], 'height': {'10': 80, '15': 120, '20': 180}}

In [15]:
a=records.find( { "weight": { "$eq": 20 } } )
#print(a)
for x in a:
    print(x)

{'_id': ObjectId('64d859241e23a3cb3ac1bf76'), 'age': 25, 'name': 'guvi', 'weight': [10, 20, 30], 'height': {'10': 80, '15': 120, '20': 180}}

In [18]:
a=records.find( { "age": { "$lte": 10 } } )
#print(a)
for x in a:
    print(x)

{'_id': ObjectId('64d788cc4c1537c78f3bf82b'), 'name': 'guvi', 'age': 9, 'techs': ['DS', 'FSD', 'ZEN', 'DE', 'ML', 'DA', 'BA'], 'mentors': True, 'sample': False, 'others': {'students': 'happy', 'companies': 'very happy'}, 'offline': None}
{'_id': 14, 'name': 'guvi', 'age': 9, 'techs': ['DS', 'FSD', 'ZEN', 'DE', 'ML', 'DA', 'BA'], 'id': 123}

In [20]:
a=records.find( { "age": { "$gte": 25 } } )
#print(a)
for x in a:
    print(x)

{'_id': ObjectId('64d788cc4c1537c78f3bf82a'), 'name': 'Marii', 'age': 29}
{'_id': ObjectId('64d859241e23a3cb3ac1bf76'), 'age': 25, 'name': 'guvi', 'weight': [10, 20, 30], 'height': {'10': 80, '15': 120, '20': 180}}

In [43]:
a=records.find( { "age": { "$ne": 25 }},{"_id":False}).limit(5)
#print(a)
for x in a:
    print(x)

{'name': 'Marii', 'age': 29}
{'name': 'guvi', 'age': 9, 'techs': ['DS', 'FSD', 'ZEN', 'DE', 'ML', 'DA', 'BA'], 'mentors': True, 'sample': False, 'others': {'students': 'happy', 'companies': 'very happy'}, 'offline': None}
{'name': 'Mariappan', 'age': '30'}
{'name': 'guvi', 'age': 9, 'techs': ['DS', 'FSD', 'ZEN', 'DE', 'ML', 'DA', 'BA'], 'id': 123}
{'name': 'guvi1', 'address': 'chennai'}

In [35]:
a=records.find( {"weight": { "$eq": 30 }})
for x in a:
    print(x)

{'_id': ObjectId('64d859241e23a3cb3ac1bf76'), 'age': 25, 'name': 'guvi', 'weight': [10, 20, 30], 'height': {'10': 80, '15': 120, '20': 180}}

In [45]:
x = records.find({"$or":[{"address":"chennai"},{"address":"Mumbai"}]},{"_id":False})
for i in x :
    print(i)

{'name': 'guvi1', 'address': 'chennai'}
{'name': 'John', 'address': 'chennai'}

In [58]:
a=records.find( {"weight.0":10})
for x in a:
    print(x)

{'_id': ObjectId('64d859241e23a3cb3ac1bf76'), 'age': 25, 'name': 'guvi', 'weight': [10, 20, 30], 'height': {'10': 80, '15': 120, '20': 180}}

In [62]:
a=records.find( {"height.15":{"$exists":True}})
for x in a:
    print(x)

{'_id': ObjectId('64d859241e23a3cb3ac1bf76'), 'age': 25, 'name': 'guvi', 'weight': [10, 20, 30], 'height': {'10': 80, '15': 120, '20': 180}}

In [64]:
a=records.find( 
    {"height.15":
     {"$exists":True}}
              )
for x in a:
    print(x)

{'_id': ObjectId('64d859241e23a3cb3ac1bf76'), 'age': 25, 'name': 'guvi', 'weight': [10, 20, 30], 'height': {'10': 80, '15': 120, '20': 180}}