In [ ]:
mongodb://localhost:27017/?directConnection=true

In [74]:
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi

uri = "mongodb+srv://Marii:1234@cluster0.okcsmig.mongodb.net/?retryWrites=true&w=majority"
client = MongoClient(uri, server_api=ServerApi('1'))
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [85]:
db = client.e18m10
records = db.Youtubedb

In [84]:
x = records.find({"name":"krishna"})
print(x)
for i in x :
    print(i)

<pymongo.cursor.Cursor object at 0x000001DD288F6310>

In [12]:
client.close()

In [11]:
#records = db.Youtubedb
records.insert_one({'name': 'Mariii','age':21})

In [ ]:
if listchennel != channel_data['items'][0]['snippet']['title']

In [3]:
import mysql.connector

In [76]:
import mysql.connector

# Connection parameters
host = "127.0.0.1"
user = "root"
password = '1234'


try:
    # Attempt to connect to the MySQL database
    mydb = mysql.connector.connect(
        host=host,
        user=user,
        password=password,
        )

    # Create a cursor
    mycursor = mydb.cursor()

    # Display a success message
    print("Connection established successfully")

    # Close the database connection (optional)


except mysql.connector.Error as err:
    # Display an error message if the connection fails
    print(f"Error: {err}")

Connection established successfully

In [77]:
mycursor.execute("use youtubedb")

In [69]:
mycursor.execute("select ChannelID from channel;")
result=mycursor.fetchall()

In [88]:
mycursor.execute("select ChannelID from channel;")
result = mycursor.fetchall()
sqlls = [x[0] for x in result]
dd = records.find({}, {"_id": True,})
ls = [x['_id'] for x in dd]
diff = list(set(ls).difference(sqlls))
diff

[]

In [80]:
sqlls

['UC8kFF39hsRrFfHM6-7A6APQ',
 'UCCktnahuRFYIBtNnKT5IYyg',
 'UCe1XwK0bvZ0kYAgPWipKt7A',
 'UCnz-ZXXER4jOvuED5trXfEA',
 'UCPIM-Ev-sEJ_aEcpDCndqUQ']

In [87]:
ls

[]

In [71]:
sqlls = [x[0] for x in result]

['UC8kFF39hsRrFfHM6-7A6APQ',
 'UCCktnahuRFYIBtNnKT5IYyg',
 'UCe1XwK0bvZ0kYAgPWipKt7A',
 'UCnz-ZXXER4jOvuED5trXfEA',
 'UCPIM-Ev-sEJ_aEcpDCndqUQ']

In [73]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

difference = list(set(list1).difference(list2))
difference

[1, 2]

In [68]:
result is None

False

In [22]:
mycursor.execute("USE mydatabase;")

# Execute the SELECT query
mycursor.execute("SELECT * FROM mari;")

# Fetch all the results (you can use fetchone or fetchmany as needed)
result = mycursor.fetchall()

In [39]:
import pandas as pd

In [28]:
pd.DataFrame(result, columns=[i[0] for i in mycursor.description], index=None)

Empty DataFrame
Columns: [ChannelID]
Index: []

In [33]:
mycursor.execute("insert into mydatabase.mari values('adasd',2,54255);")

In [36]:
mydb.commit()

In [38]:
mycursor.execute("""
CREATE TABLE IF NOT EXISTS Channel (
    ChannelID VARCHAR(255) PRIMARY KEY,
    channel_name VARCHAR(255),
    SubscriberCount INT,
    ViewCount INT,
    VideoCount INT,
    Playlists_id VARCHAR(255)
);
""")

# Create the Playlist table
mycursor.execute("""
CREATE TABLE IF NOT EXISTS Playlist (
    Playlists_id VARCHAR(255) PRIMARY KEY,
    ChannelID VARCHAR(255),
    Playlist_name VARCHAR(255),
    FOREIGN KEY (ChannelID) REFERENCES Channel(ChannelID)
);
""")


# Create the Video table
mycursor.execute("""
CREATE TABLE IF NOT EXISTS Video (
    Video_id VARCHAR(255) PRIMARY KEY,
    Playlists_id VARCHAR(255),
    Video_name VARCHAR(255),
    Video_description TEXT,
    Published_date DATETIME,
    View_count INT,
    Like_count INT,
    Favorite_count INT,
    Comment_count INT,
    Duration INT,
    Thumbnail VARCHAR(255),
    Caption_status VARCHAR(255),
    FOREIGN KEY (Playlists_id) REFERENCES Playlist(Playlists_id)
);
""")

# Create the Comment table
mycursor.execute("""
CREATE TABLE IF NOT EXISTS Comment (
    Comment_id VARCHAR(255) PRIMARY KEY,
    Video_id VARCHAR(255),
    Comment_text TEXT,
    Comment_author VARCHAR(255),
    Comment_date DATETIME,
    FOREIGN KEY (Video_id) REFERENCES Video(Video_id)
);
""")

In [45]:
s=123
(f"ssa{s}d")

'ssa123d'